<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
        <button onclick="location.href='/register'">Register</button><br><br>
    </form>
    {% if msg %}
    <script>
        alert("{{ msg }}");
    </script>
    {% endif %}
</body>

</html>