{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
</head>

<body>
    <h1>Dashboard</h1>
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <h3>MEMBER ID: {{ user.member_id }}</h3>
    <h3>Email: {{ user.email }}</h3>
    <h3>HEALTH METRICS: </h3>
    <ul>
        <li>Weight(kgs): {{ user.weight }}kgs</li>
        <li>Height(cms): {{ user.height }}cms</li>
    </ul>

    <h3>GOALS: </h3>
    <ul>
        {% for goal in goals %}
        <li>Goal ID: {{ goal.goal_id }}:
            <ul>
                <li>Type of Exercise:      {{ goal.exercise }}</li>
                <li>Goal Time(seconds):    {{ goal.goal_time }} seconds</li>
                <li>Goal Weight(lbs):      {{ goal.goal_weight }} kgs</li>
                <li>Reached:               {{ goal.reached }}</li>
            </ul>
        </li>
        {% endfor %}
    </ul>

    <!-- Fitness Classes -->
    <h3>My Fitness Classes: </h3>
    <ul>
        {% for class in classes %}
        <li>Class ID: {{ class.class_id }}
            <ul>
                <li>Trainer: {{ class.trainer_name }}</li>
                <li>Trainer ID: {{ class.trainer_id }}</li>
                <li>Day: {{ class.day }}</li>
                <li>Class Start Time: {{ class.class_start_time }}</li>
                <li>Class End Time: {{ class.class_end_time }}</li>
            </ul>
        </li>
        {% endfor %}
    </ul>

    <!-- Training Session -->
    <h3>My Training Sessions: </h3>
    <ul>
        {% for session in sessions %}
        <li>Training Session ID: {{ session.session_id }}
            <ul>
                <li>Trainer: {{ session.trainer_name }}</li>
                <li>Trainer ID: {{ session.trainer_id }}</li>
                <li>Day: {{ session.day }}</li>
                <li>Session Start Time: {{ session.session_start_time }}</li>
                <li>Session End Time: {{ session.session_end_time }}</li>
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% if error %}
    <script>
        alert("{{ error }}");
    </script>
    {% endif %}
</body>

</html>